section.introduction{

  display: flex;


  .imaa{
    border-radius: 50px;
  }

}



@media (min-width: 851px) {
  .imaa{
    height: 440px;
    margin-left: 100px;
    padding: 8rem 5rem 0;


  }
  .textAb{
    width: 700px;
  }


}

@media (max-width: 850px){
  .introduction{
    flex-direction: column;
    padding: 8rem 5rem 0;
  }
  .textAb{
    width: 90%;
  }
  .imaa{
    height: 400px;
    width:400px;
    margin-left: 0px;

  }

}

@media (max-width: 600px){
  .introduction{
    flex-direction: column;
    padding: 4rem 2rem 0;
  }
  .textAb{
    width: 90%;
  }
  .imaa{
    height: 300px;
    width:300px;
    margin-left: 0px;

  }

}

@media (max-width: 400px){
  .imaa {
    height: 230px;
    width: 230px;
  }

}
